body{
  text-align: center;
}
#theGame{
  background-color: blue;
  width: 500px;
  height: 500px;
  margin-left:auto;
  margin-right:auto;
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}
.circle{
  background-color: white;
  margin: 5px;
  border-radius: 50%;
}
.red{
  background-color: red;
}
.yellow {
  background-color: yellow;
}